# dependencies
node_modules/

# environment files (ignore all .env files in all folders)
.env
.env.*
*/.env
*/.env.*

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*

# IDE / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db
